@media screen and (max-width: 767px) {
  .salution {
    top: 3vh;
    font-size: 1.3rem;
  }

  .seasons {
  font-size: 0.78rem;
  font-weight: 300;
}

#temperatura {
  top: 1.4rem;
  font-size: 0.78rem;
  font-weight: 300;
}
}
