@media screen and (max-width: 767px) {
  .salution {
    top: 3vh;
    font-size: 1.3rem;
  }

  .seasons {
  font-size: 0.85rem;
  font-weight: 300;
}

#temperatura {

  font-size: 0.85rem;
  font-weight: 300;
}
}
