* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #c9d1d9;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000;
}

.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sliding-background {
  background: url(../img/qq.png) repeat-x;
  height: 100vh;
  width: 6000px;
  filter: brightness(45%);
  animation: slide 300s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-3840px, 0, 0);
  }
}

.salution {
  position: absolute;
  top: 3.8vh;
  font-size: 1.3rem;
  font-family: "Nanum Pen Script", cursive;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  z-index: 1;
}

.seasons {
  position: absolute;
  color: #c9d1d9;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

#temperatura {
  position: absolute;
  color: #c9d1d9;
  top: 1.5rem;
  right: 0.7rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

.logo1 {
  position: absolute;
  top: 1vh;
  left: 0.5rem;
  width: 3.3vw;
  height: 5.7vh;
  background: #0c0f14;
  border: 2px solid #c9d1d9;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.4rem #000);
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  z-index: 1;
}

.logo1:hover {
  filter: drop-shadow(0 0 0.2rem #c9d1d9);
}

.logo1 .logo {
  position: absolute;
  width: 2.9vw;
  top: -0.7vh;
  left: 0;
  filter: drop-shadow(0 0 1rem #000);
}

main .quote {
  position: absolute;
  top: 55vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  white-space: nowrap;
}

main .quote q {
  font-style: italic;
}

main .quote span {
  margin-left: 1rem;
}
